<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.znnf.mapper.ZnnfManagerMapper" >
  <resultMap id="BaseResultMap" type="cn.znnf.model.ZnnfManager" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="manager_name" property="manager_name" jdbcType="VARCHAR" />
    <result column="manager_password" property="manager_password" jdbcType="VARCHAR" />
    <result column="manager_status" property="manager_status" jdbcType="BIT" />
    <result column="manager_create_name" property="manager_create_name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, manager_name, manager_password, manager_status, manager_create_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.znnf.model.ZnnfManagerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from znnf_manager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from znnf_manager
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from znnf_manager
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.znnf.model.ZnnfManagerExample" >
    delete from znnf_manager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.znnf.model.ZnnfManager" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into znnf_manager (manager_name, manager_password, manager_status, 
      manager_create_name)
    values (#{manager_name,jdbcType=VARCHAR}, #{manager_password,jdbcType=VARCHAR}, #{manager_status,jdbcType=BIT}, 
      #{manager_create_name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.znnf.model.ZnnfManager" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into znnf_manager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="manager_name != null" >
        manager_name,
      </if>
      <if test="manager_password != null" >
        manager_password,
      </if>
      <if test="manager_status != null" >
        manager_status,
      </if>
      <if test="manager_create_name != null" >
        manager_create_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="manager_name != null" >
        #{manager_name,jdbcType=VARCHAR},
      </if>
      <if test="manager_password != null" >
        #{manager_password,jdbcType=VARCHAR},
      </if>
      <if test="manager_status != null" >
        #{manager_status,jdbcType=BIT},
      </if>
      <if test="manager_create_name != null" >
        #{manager_create_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.znnf.model.ZnnfManagerExample" resultType="java.lang.Integer" >
    select count(*) from znnf_manager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update znnf_manager
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.manager_name != null" >
        manager_name = #{record.manager_name,jdbcType=VARCHAR},
      </if>
      <if test="record.manager_password != null" >
        manager_password = #{record.manager_password,jdbcType=VARCHAR},
      </if>
      <if test="record.manager_status != null" >
        manager_status = #{record.manager_status,jdbcType=BIT},
      </if>
      <if test="record.manager_create_name != null" >
        manager_create_name = #{record.manager_create_name,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update znnf_manager
    set id = #{record.id,jdbcType=INTEGER},
      manager_name = #{record.manager_name,jdbcType=VARCHAR},
      manager_password = #{record.manager_password,jdbcType=VARCHAR},
      manager_status = #{record.manager_status,jdbcType=BIT},
      manager_create_name = #{record.manager_create_name,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.znnf.model.ZnnfManager" >
    update znnf_manager
    <set >
      <if test="manager_name != null" >
        manager_name = #{manager_name,jdbcType=VARCHAR},
      </if>
      <if test="manager_password != null" >
        manager_password = #{manager_password,jdbcType=VARCHAR},
      </if>
      <if test="manager_status != null" >
        manager_status = #{manager_status,jdbcType=BIT},
      </if>
      <if test="manager_create_name != null" >
        manager_create_name = #{manager_create_name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.znnf.model.ZnnfManager" >
    update znnf_manager
    set manager_name = #{manager_name,jdbcType=VARCHAR},
      manager_password = #{manager_password,jdbcType=VARCHAR},
      manager_status = #{manager_status,jdbcType=BIT},
      manager_create_name = #{manager_create_name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectPage" resultMap="BaseResultMap" parameterType="cn.znnf.model.ZnnfManagerExample" >
    select 
<if test="distinct" > 
distinct 
</if> 
<include refid="Base_Column_List" /> 
from znnf_manager
<if test="_parameter != null" > 
<include refid="Example_Where_Clause" /> 
</if> 
<if test="orderByClause != null" > 
order by ${orderByClause} 
</if> 
limit #{pageIndex},#{pageSize} 

  </select>
</mapper>