<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.znnf.mapper.ZnnfWebsiteTitleMapper" >
  <resultMap id="BaseResultMap" type="cn.znnf.model.ZnnfWebsiteTitle" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title_content" property="title_content" jdbcType="LONGVARCHAR" />
    <result column="title_operate_time" property="title_operate_time" jdbcType="DATE" />
    <result column="title_operator" property="title_operator" jdbcType="VARCHAR" />
    <result column="title_category" property="title_category" jdbcType="BIT" />
    <result column="title_remark" property="title_remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title_content, title_operate_time, title_operator, title_category, title_remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.znnf.model.ZnnfWebsiteTitleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from znnf_website_title
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from znnf_website_title
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from znnf_website_title
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.znnf.model.ZnnfWebsiteTitleExample" >
    delete from znnf_website_title
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.znnf.model.ZnnfWebsiteTitle" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into znnf_website_title (title_content, title_operate_time, 
      title_operator, title_category, title_remark
      )
    values (#{title_content,jdbcType=LONGVARCHAR}, #{title_operate_time,jdbcType=DATE}, 
      #{title_operator,jdbcType=VARCHAR}, #{title_category,jdbcType=BIT}, #{title_remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.znnf.model.ZnnfWebsiteTitle" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into znnf_website_title
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title_content != null" >
        title_content,
      </if>
      <if test="title_operate_time != null" >
        title_operate_time,
      </if>
      <if test="title_operator != null" >
        title_operator,
      </if>
      <if test="title_category != null" >
        title_category,
      </if>
      <if test="title_remark != null" >
        title_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title_content != null" >
        #{title_content,jdbcType=LONGVARCHAR},
      </if>
      <if test="title_operate_time != null" >
        #{title_operate_time,jdbcType=DATE},
      </if>
      <if test="title_operator != null" >
        #{title_operator,jdbcType=VARCHAR},
      </if>
      <if test="title_category != null" >
        #{title_category,jdbcType=BIT},
      </if>
      <if test="title_remark != null" >
        #{title_remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.znnf.model.ZnnfWebsiteTitleExample" resultType="java.lang.Integer" >
    select count(*) from znnf_website_title
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update znnf_website_title
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title_content != null" >
        title_content = #{record.title_content,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.title_operate_time != null" >
        title_operate_time = #{record.title_operate_time,jdbcType=DATE},
      </if>
      <if test="record.title_operator != null" >
        title_operator = #{record.title_operator,jdbcType=VARCHAR},
      </if>
      <if test="record.title_category != null" >
        title_category = #{record.title_category,jdbcType=BIT},
      </if>
      <if test="record.title_remark != null" >
        title_remark = #{record.title_remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update znnf_website_title
    set id = #{record.id,jdbcType=INTEGER},
      title_content = #{record.title_content,jdbcType=LONGVARCHAR},
      title_operate_time = #{record.title_operate_time,jdbcType=DATE},
      title_operator = #{record.title_operator,jdbcType=VARCHAR},
      title_category = #{record.title_category,jdbcType=BIT},
      title_remark = #{record.title_remark,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.znnf.model.ZnnfWebsiteTitle" >
    update znnf_website_title
    <set >
      <if test="title_content != null" >
        title_content = #{title_content,jdbcType=LONGVARCHAR},
      </if>
      <if test="title_operate_time != null" >
        title_operate_time = #{title_operate_time,jdbcType=DATE},
      </if>
      <if test="title_operator != null" >
        title_operator = #{title_operator,jdbcType=VARCHAR},
      </if>
      <if test="title_category != null" >
        title_category = #{title_category,jdbcType=BIT},
      </if>
      <if test="title_remark != null" >
        title_remark = #{title_remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.znnf.model.ZnnfWebsiteTitle" >
    update znnf_website_title
    set title_content = #{title_content,jdbcType=LONGVARCHAR},
      title_operate_time = #{title_operate_time,jdbcType=DATE},
      title_operator = #{title_operator,jdbcType=VARCHAR},
      title_category = #{title_category,jdbcType=BIT},
      title_remark = #{title_remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectPage" resultMap="BaseResultMap" parameterType="cn.znnf.model.ZnnfWebsiteTitleExample" >
    select 
<if test="distinct" > 
distinct 
</if> 
<include refid="Base_Column_List" /> 
from znnf_website_title
<if test="_parameter != null" > 
<include refid="Example_Where_Clause" /> 
</if> 
<if test="orderByClause != null" > 
order by ${orderByClause} 
</if> 
limit #{pageIndex},#{pageSize} 

  </select>
</mapper>